@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

/*
.usp {
  background: #843cff;
  color: #ffffff;
  padding: 80px 0px;
}
.usp-h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}

.usp-content-box {
  display: flex;
  justify-content: space-between;
}

.usp-content {
  width: 50%;
  margin-top: 36px;
}

.usp-img {
  width: 40%;
}

.usp-content a {
  text-decoration: underline;
  display: inline-block;
  margin-top: 22px;
} */
